In [9]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

#### 1.1 : Importing data

In [10]:
df = pd.read_csv('/home/meghana/STUDIES/2_Career_Launcher_ML_Internship/datasets/JINDALSTEL.csv')

In [11]:
jin = df[df.Series == 'EQ']
jin

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,JINDALSTEL,EQ,15-May-2017,112.10,112.90,114.85,112.30,114.70,114.20,113.84,5730419,6.523226e+08,22627,1197305,20.89
1,JINDALSTEL,EQ,16-May-2017,114.20,115.15,115.75,113.50,113.75,114.10,114.53,5083003,5.821399e+08,18359,1081322,21.27
2,JINDALSTEL,EQ,17-May-2017,114.10,114.50,118.20,114.20,116.35,116.40,116.62,14511700,1.692387e+09,49346,4838996,33.35
3,JINDALSTEL,EQ,18-May-2017,116.40,114.70,115.80,112.60,112.95,113.30,113.83,6952070,7.913754e+08,23427,1894268,27.25
4,JINDALSTEL,EQ,19-May-2017,113.30,113.80,115.50,109.30,112.70,112.15,112.60,7976703,8.981930e+08,30938,1806216,22.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,JINDALSTEL,EQ,07-May-2019,173.55,175.60,176.75,168.00,168.50,169.30,173.38,9914774,1.719054e+09,74212,2525841,25.48
490,JINDALSTEL,EQ,08-May-2019,169.30,166.90,171.70,165.75,170.15,170.15,169.25,11040004,1.868558e+09,65834,1420538,12.87
491,JINDALSTEL,EQ,09-May-2019,170.15,169.00,170.65,161.20,162.75,163.05,165.31,14432086,2.385770e+09,78475,1401008,9.71
492,JINDALSTEL,EQ,10-May-2019,163.05,165.10,167.00,161.10,161.70,163.25,164.40,11984102,1.970199e+09,65573,788324,6.58
493,JINDALSTEL,EQ,13-May-2019,163.25,162.75,162.75,152.00,152.70,154.35,158.22,8109777,1.283124e+09,48721,856981,10.57

In [4]:
jin.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,JINDALSTEL,EQ,15-May-2017,112.1,112.90,114.85,112.3,114.70,114.20,113.84,5730419,6.523226e+08,22627,1197305,20.89
1,JINDALSTEL,EQ,16-May-2017,114.2,115.15,115.75,113.5,113.75,114.10,114.53,5083003,5.821399e+08,18359,1081322,21.27
2,JINDALSTEL,EQ,17-May-2017,114.1,114.50,118.20,114.2,116.35,116.40,116.62,14511700,1.692387e+09,49346,4838996,33.35
3,JINDALSTEL,EQ,18-May-2017,116.4,114.70,115.80,112.6,112.95,113.30,113.83,6952070,7.913754e+08,23427,1894268,27.25
4,JINDALSTEL,EQ,19-May-2017,113.3,113.80,115.50,109.3,112.70,112.15,112.60,7976703,8.981930e+08,30938,1806216,22.64

In [5]:
jin.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
489,JINDALSTEL,EQ,07-May-2019,173.55,175.60,176.75,168.00,168.50,169.30,173.38,9914774,1.719054e+09,74212,2525841,25.48
490,JINDALSTEL,EQ,08-May-2019,169.30,166.90,171.70,165.75,170.15,170.15,169.25,11040004,1.868558e+09,65834,1420538,12.87
491,JINDALSTEL,EQ,09-May-2019,170.15,169.00,170.65,161.20,162.75,163.05,165.31,14432086,2.385770e+09,78475,1401008,9.71
492,JINDALSTEL,EQ,10-May-2019,163.05,165.10,167.00,161.10,161.70,163.25,164.40,11984102,1.970199e+09,65573,788324,6.58
493,JINDALSTEL,EQ,13-May-2019,163.25,162.75,162.75,152.00,152.70,154.35,158.22,8109777,1.283124e+09,48721,856981,10.57

In [40]:
jin.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000,494.000000,494.000000,494.000000,494.000000
mean,183.820850,184.060121,188.183401,179.609413,183.803745,183.906377,184.119798,1.016181e+07,1.899106e+09,57412.099190,1.713305e+06,17.178300,6.485830,2017.858300,170.246598,0.001091
std,43.761103,43.703612,44.921696,42.472493,43.646998,43.661822,43.770981,5.392839e+06,1.243048e+09,30466.954282,1.100602e+06,6.761447,3.455131,0.694927,29.588009,0.031023
min,108.150000,109.900000,113.900000,102.700000,107.900000,108.150000,108.850000,7.394240e+05,1.357310e+08,4831.000000,2.234530e+05,5.120000,1.000000,2017.000000,111.467926,-0.121869
25%,149.250000,149.962500,152.550000,145.650000,149.362500,149.587500,148.760000,6.529482e+06,1.163182e+09,34602.750000,9.460742e+05,12.450000,4.000000,2017.000000,137.810241,-0.016790
50%,171.725000,172.050000,176.125000,168.000000,171.450000,171.725000,171.970000,9.092179e+06,1.628526e+09,52837.000000,1.444906e+06,15.995000,6.500000,2018.000000,187.342543,0.001489
75%,222.650000,222.937500,227.687500,217.675000,222.437500,222.650000,222.910000,1.214784e+07,2.246715e+09,74066.250000,2.137506e+06,20.567500,9.000000,2018.000000,194.567622,0.018468
max,290.750000,289.900000,294.300000,273.200000,291.900000,290.750000,286.770000,4.454994e+07,1.053682e+10,206361.000000,8.533758e+06,45.750000,12.000000,2019.000000,198.858829,0.113869

In [7]:
jin.shape

(494, 15)

In [8]:
rows = jin.shape[0]
cols = jin.shape[1]

In [9]:
rows

494

In [10]:
cols

15

#### 1.2 : Mean maximum and minimum

MEAN FOR LAST 90 DAYS:

In [11]:
jin['Close Price'][rows-90:rows].mean()

159.13055555555565

MAX FOR LAST 90 DAYS :

In [12]:
jin['Close Price'][rows-90:rows].max()

189.35

In [13]:
jin['Close Price'][rows-90:rows].min()

128.7

#### 1.3 : Types of columns

In [14]:
#Types of columns

jin.dtypes

Symbol                     object
Series                     object
Date                       object
Prev Close                float64
Open Price                float64
High Price                float64
Low Price                 float64
Last Price                float64
Close Price               float64
Average Price             float64
Total Traded Quantity       int64
Turnover                  float64
No. of Trades               int64
Deliverable Qty             int64
% Dly Qt to Traded Qty    float64
dtype: object

In [15]:
#Original type of date column

print(jin['Date'].dtype)

object

In [16]:
#changing the type of date column

jin['Date']=jin['Date'].apply(pd.to_datetime)

In [17]:
#Again checking types

jin.dtypes

Symbol                            object
Series                            object
Date                      datetime64[ns]
Prev Close                       float64
Open Price                       float64
High Price                       float64
Low Price                        float64
Last Price                       float64
Close Price                      float64
Average Price                    float64
Total Traded Quantity              int64
Turnover                         float64
No. of Trades                      int64
Deliverable Qty                    int64
% Dly Qt to Traded Qty           float64
dtype: object

In [18]:
jin['Date'].max()

Timestamp('2019-05-13 00:00:00')

In [19]:
jin['Date'].min()

Timestamp('2017-05-15 00:00:00')

In [20]:
#difference between max and min

jin['Date'].max()-jin['Date'].min()

Timedelta('728 days 00:00:00')

#### datatype changes from Timestamp to Timedelta !

#### 1.4 vwap = sum(price*vol)/sum(volume)

In [21]:
jin['Month'] = pd.DatetimeIndex(jin['Date']).month
jin['Year'] = pd.DatetimeIndex(jin['Date']).year
jin['VWAP'] = (jin['Close Price'] * jin['Total Traded Quantity']).cumsum() / jin['Total Traded Quantity'].fillna(0).cumsum()
jin_vwap = jin[['Month','Year','VWAP']]
group = jin_vwap.groupby(['Month','Year'])
group.first()

                  VWAP
Month Year
1     2018  144.943314
      2019  193.589918
2     2018  172.591221
      2019  190.557806
3     2018  181.368662
      2019  188.095768
4     2018  186.201629
      2019  187.368653
5     2017  114.200000
      2018  190.344339
      2019  187.069968
6     2017  115.598111
      2018  194.002368
7     2017  118.903117
      2018  195.704535
8     2017  127.441610
      2018  196.233406
9     2017  130.858071
      2018  197.031636
10    2017  132.896824
      2018  198.815342
11    2017  137.076195
      2018  197.235479
12    2017  140.935995
      2018  195.637152

#### 1.5 Avg price and profit/loss perc over last n days

In [22]:
def avg(n):
    a = np.sum(jin['Close Price'][rows-n:rows])/n
    print("Average: ",a)

In [23]:
def prof_loss_perc(n):
    porl = jin['Close Price'][rows-1] -  jin['Close Price'][rows-n]
    if porl < 0:
        loss = porl
        loss_perc = (loss/jin['Close Price'][rows-n])*100
        print("Loss percentage is :",loss_perc*(-1))
    if porl > 0:
        prof = porl
        prof_perc = (prof/jin['Close Price'][rows-n])*100
        print("Profit percentage is :",prof_perc)

In [24]:
#1w 2w 1m 3m 6m 1yr

In [25]:
print("For one week :")
avg(7)
prof_loss_perc(5)

For one week :
Average:  167.91428571428568
Loss percentage is : 8.83047844063793

In [26]:
print("For two weeks :")
avg(14)
prof_loss_perc(10)

For two weeks :
Average:  171.41785714285714
Loss percentage is : 11.875535255495295

In [27]:
print("For one month :")
avg(30)
prof_loss_perc(20)

For one month :
Average:  176.5916666666667
Loss percentage is : 15.632686526373323

In [28]:
print("For three months :")
avg(90)
prof_loss_perc(60)

For three months :
Average:  159.13055555555556
Profit percentage is : 19.930069930069934

In [29]:
print("For six months :")
avg(180)
prof_loss_perc(120)

For six months :
Average:  171.73638888888888
Loss percentage is : 14.93524386883439

In [30]:
print("For an year :")
avg(365)
prof_loss_perc(240)

For an year :
Average:  199.4921917808219
Loss percentage is : 35.78115248595798

#### 1.6 'Day_Perc_Change'

In [31]:
jin['Day_Perc_Change'] = jin['Close Price'].pct_change()

In [32]:
jin.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change
0,JINDALSTEL,EQ,2017-05-15,112.1,112.90,114.85,112.3,114.70,114.20,113.84,5730419,6.523226e+08,22627,1197305,20.89,5,2017,114.200000,NaN
1,JINDALSTEL,EQ,2017-05-16,114.2,115.15,115.75,113.5,113.75,114.10,114.53,5083003,5.821399e+08,18359,1081322,21.27,5,2017,114.152994,-0.000876
2,JINDALSTEL,EQ,2017-05-17,114.1,114.50,118.20,114.2,116.35,116.40,116.62,14511700,1.692387e+09,49346,4838996,33.35,5,2017,115.440564,0.020158
3,JINDALSTEL,EQ,2017-05-18,116.4,114.70,115.80,112.6,112.95,113.30,113.83,6952070,7.913754e+08,23427,1894268,27.25,5,2017,114.979516,-0.026632
4,JINDALSTEL,EQ,2017-05-19,113.3,113.80,115.50,109.3,112.70,112.15,112.60,7976703,8.981930e+08,30938,1806216,22.64,5,2017,114.418819,-0.010150

#### Here :
    Calculating daily percent change means comparing today's closing proce with previous day's closing price.
    But, 1st day's daiy_perc_change will be NaN bcoz there's no column before the 1st column.
    We can handle that using fillna() function.

In [33]:
jin['Day_Perc_Change'] = jin['Day_Perc_Change'].fillna(0)
jin.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change
0,JINDALSTEL,EQ,2017-05-15,112.1,112.90,114.85,112.3,114.70,114.20,113.84,5730419,6.523226e+08,22627,1197305,20.89,5,2017,114.200000,0.000000
1,JINDALSTEL,EQ,2017-05-16,114.2,115.15,115.75,113.5,113.75,114.10,114.53,5083003,5.821399e+08,18359,1081322,21.27,5,2017,114.152994,-0.000876
2,JINDALSTEL,EQ,2017-05-17,114.1,114.50,118.20,114.2,116.35,116.40,116.62,14511700,1.692387e+09,49346,4838996,33.35,5,2017,115.440564,0.020158
3,JINDALSTEL,EQ,2017-05-18,116.4,114.70,115.80,112.6,112.95,113.30,113.83,6952070,7.913754e+08,23427,1894268,27.25,5,2017,114.979516,-0.026632
4,JINDALSTEL,EQ,2017-05-19,113.3,113.80,115.50,109.3,112.70,112.15,112.60,7976703,8.981930e+08,30938,1806216,22.64,5,2017,114.418819,-0.010150

#### See the difference

#### 1.7

1.7 Add another column 'Trend' whose values are:
ï€Œ 'Slight or No change' for 'Day_Perc_Change' in between -0.5 and 0.5
ï€Œ 'Slight positive' for 'Day_Perc_Change' in between 0.5 and 1
ï€Œ 'Slight negative' for 'Day_Perc_Change' in between -0.5 and -1
ï€Œ 'Positive' for 'Day_Perc_Change' in between 1 and 3
ï€Œ 'Negative' for 'Day_Perc_Change' in between -1 and -3
ï€Œ 'Among top gainers' for 'Day_Perc_Change' in between 3 and 7

ï€Œ 'Among top losers' for 'Day_Perc_Change' in between -3 and -7
ï€Œ 'Bull run' for 'Day_Perc_Change' >7
ï€Œ 'Bear drop' for 'Day_Perc_Change' <-7

In [34]:
def choices(n):
    if -0.5<=n<=0.5:
        return 'Slight or No change'
    if  0.5<=n<=1:
        return 'Slight positive'
    if -1<=n<=-0.5:
        return 'Slight negative'
    if  1<=n<=3:
        return 'Positive'
    if  -3<=n<=-1:
        return 'Negative'
    if  3<=n<=7:
        return 'Among top gainers'
    if  -7<=n<=-3:
        return 'Among top losers'
    if  n>7:
        return 'Bull run'
    if  n<7:
        return 'Bear run'

jin['Trend'] = jin.Day_Perc_Change.apply(choices)
jin['Trend']

0      Slight or No change
1      Slight or No change
2      Slight or No change
3      Slight or No change
4      Slight or No change
              ...
489    Slight or No change
490    Slight or No change
491    Slight or No change
492    Slight or No change
493    Slight or No change
Name: Trend, Length: 494, dtype: object

In [35]:
jin.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change,Trend
0,JINDALSTEL,EQ,2017-05-15,112.1,112.90,114.85,112.3,114.70,114.20,113.84,5730419,6.523226e+08,22627,1197305,20.89,5,2017,114.200000,0.000000,Slight or No change
1,JINDALSTEL,EQ,2017-05-16,114.2,115.15,115.75,113.5,113.75,114.10,114.53,5083003,5.821399e+08,18359,1081322,21.27,5,2017,114.152994,-0.000876,Slight or No change
2,JINDALSTEL,EQ,2017-05-17,114.1,114.50,118.20,114.2,116.35,116.40,116.62,14511700,1.692387e+09,49346,4838996,33.35,5,2017,115.440564,0.020158,Slight or No change
3,JINDALSTEL,EQ,2017-05-18,116.4,114.70,115.80,112.6,112.95,113.30,113.83,6952070,7.913754e+08,23427,1894268,27.25,5,2017,114.979516,-0.026632,Slight or No change
4,JINDALSTEL,EQ,2017-05-19,113.3,113.80,115.50,109.3,112.70,112.15,112.60,7976703,8.981930e+08,30938,1806216,22.64,5,2017,114.418819,-0.010150,Slight or No change

#### 1.8

In [36]:
print("Mean :")
print(jin[['Trend', 'Total Traded Quantity']].groupby(['Trend'], as_index=False).mean())
print("Median :")
print(jin[['Trend', 'Total Traded Quantity']].groupby(['Trend'], as_index=False).median())

Mean :
                 Trend  Total Traded Quantity
0  Slight or No change           1.016181e+07
Median :
                 Trend  Total Traded Quantity
0  Slight or No change                9092179

#### 1.9

In [37]:
new_csv = jin.to_csv(r'week2.csv', index=False)

In [38]:
new_jin = pd.read_csv('week2.csv')

In [39]:
new_jin.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change,Trend
0,JINDALSTEL,EQ,2017-05-15,112.1,112.90,114.85,112.3,114.70,114.20,113.84,5730419,6.523226e+08,22627,1197305,20.89,5,2017,114.200000,0.000000,Slight or No change
1,JINDALSTEL,EQ,2017-05-16,114.2,115.15,115.75,113.5,113.75,114.10,114.53,5083003,5.821399e+08,18359,1081322,21.27,5,2017,114.152994,-0.000876,Slight or No change
2,JINDALSTEL,EQ,2017-05-17,114.1,114.50,118.20,114.2,116.35,116.40,116.62,14511700,1.692387e+09,49346,4838996,33.35,5,2017,115.440564,0.020158,Slight or No change
3,JINDALSTEL,EQ,2017-05-18,116.4,114.70,115.80,112.6,112.95,113.30,113.83,6952070,7.913754e+08,23427,1894268,27.25,5,2017,114.979516,-0.026632,Slight or No change
4,JINDALSTEL,EQ,2017-05-19,113.3,113.80,115.50,109.3,112.70,112.15,112.60,7976703,8.981930e+08,30938,1806216,22.64,5,2017,114.418819,-0.010150,Slight or No change

DONE